CHICAGO_ANALYTICS_DB_HOST=postgres_db
CHICAGO_ANALYTICS_DB_PORT=5432
CHICAGO_ANALYTICS_DB_NAME=carvana_db
CHICAGO_ANALYTICS_DB_USER=admin
CHICAGO_ANALYTICS_DB_PASSWORD=

GEOJSON_PATH=data/geo/community_areas.geojson
CORS_ORIGINS=*
